.main {
  background-color: #fff;
  border: 3px solid #5b2333;
  display: flex;
  flex-direction: column;
  overflow-y: auto;
  padding: 15px;
  width: 100%;

  iframe {
    height: 100%;
    width: 100%;
  }
}