aside.aside__container
    nav.nav-menu
        ul
            li.aside__item(data-iframe="pages/chapter-1/chapter-1-text.html") Графический метод ЗЛП
            li.aside__item(data-iframe="pages/chapter-2/chapter-2-text.html") Венгерский метод
            li.aside__item(data-iframe="pages/chapter-3/chapter-3-text.html") Дискретное программирование
            li.aside__item(data-iframe="pages/questions-discrete.html") Вопросы к теме "Дискретное программирование"
            li.aside__item(data-iframe="pages/chapter-4/chapter-4-text.html") Общая задача и симплекс метод
            li.aside__item(data-iframe="pages/chapter-5/chapter-5-text.html") Планирование в конфликтных ситуациях. Основы теории игр
            li.aside__item(data-iframe="pages/questions-games.html") Вопросы к теме "Теория игр"
            li.aside__item(data-iframe="tests.html") Тест
