extends root/layout

block content
    main.content
        .common
            p.common__text Данная информационно-обучающая система содержит методический и практический комплекс по моделям линейного программирования.
            p.common__text Примеры и задания для самостоятельной работы помогут изучить и закрепить изученный теоретический материал.
            p.common__text Система рассчитана на студентов и начинающих изучение курса программистов.
