extends root/layout

block content
    include include/header
    main.content
        include include/aside
        section.main
            iframe#main-content(src="home.html")
    include include/footer


